* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}

.card {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border: 2px solid white;
  width: 800px;
  height: 400px;
  border-radius: 12px;
}
.card h1 {
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 42px;
}
.card__top-info {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card__top-info img {
  height: 180px;
  width: 180px;
  -o-object-fit: contain;
     object-fit: contain;
}
.card__top-info .input-box {
  height: 100%;
  width: 40%;
  position: relative;
}
.card__top-info .input-box h3 {
  padding-top: 10px;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}
.card__top-info .input-box .warning {
  color: rgb(222, 51, 21);
  position: absolute;
  bottom: 50px;
}
.card__top-info .input-box input,
.card__top-info .input-box button {
  position: absolute;
}
.card__top-info .input-box input {
  font-size: 16px;
  padding: 5px 10px;
  margin-top: 10px;
  background: none;
  border: none;
  color: #fff;
  border-bottom: 2px solid #fff;
  margin-right: 10px;
  left: 0;
  top: 40%;
}
.card__top-info .input-box button {
  background-color: white;
  border-radius: 4px;
  color: black;
  border: none;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  cursor: pointer;
  padding: 10px 20px;
  transition: box-shadow 0.15s, transform 0.15s;
  right: 0;
  top: 43%;
}
.card__top-info .input-box button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
.card__top-info .input-box button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.card__top-info .input-box button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
.card__top-info .input-box ::-moz-placeholder {
  color: white;
}
.card__top-info .input-box ::placeholder {
  color: white;
}
.card__bottom-result {
  height: 120px;
}
.card__bottom-result .headings,
.card__bottom-result .weather-results {
  display: flex;
  align-items: center;
}
.card__bottom-result .headings p,
.card__bottom-result .weather-results p {
  width: 33.3%;
  text-align: center;
  color: white;
}
.card__bottom-result .headings {
  height: 35%;
  text-transform: uppercase;
  border-bottom: 2px solid white;
  font-size: 18px;
}
.card__bottom-result .weather-results {
  height: 65%;
}

@media (max-width: 495px) {
  body {
    padding: 25px;
  }
  .card {
    padding: 5px 10px;
  }
  .card h1 {
    padding-top: 15px;
    font-size: 32px;
  }
  .card img {
    height: 120px;
    width: 120px;
  }
  .card__top-info .input-box {
    height: 100%;
    width: 65%;
    position: relative;
  }
  .card__top-info .input-box h3 {
    font-size: 28px;
    text-align: left;
    padding-left: 40px;
  }
  .card__top-info .input-box .warning {
    font-size: 14px;
    bottom: 65px;
  }
  .card__top-info .input-box input {
    font-size: 14px;
    padding: 5px 10px;
    margin: 0;
  }
  .card__top-info .input-box button {
    top: 80%;
    right: unset;
  }
  .card__bottom-result .headings {
    height: 35%;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    font-size: 12px;
  }
  .card__bottom-result .weather-results {
    height: 65%;
    font-size: 14px;
  }
}
@media (min-width: 496px) and (max-width: 769px) {
  .card__top-info .input-box button {
    bottom: 0;
    top: unset;
    right: unset;
  }
}/*# sourceMappingURL=main.css.map */